<div class="container-fluid">
  <div class="row">
    <div class="content-strip primary">
      <div class="content-strip-inner">
        <h4 class="strip-title">我要揪團</h4>
        <p class="strip-description"></p>
      </div>
    </div>
  </div>
  <div class="row row-inner-m">
    <div class="col m12 s12">
      <div class="groupon-field">
        <div class="groupon-field-inner">
          <div class="groupleader-form">
            <span class="under-line-title">揪團課程</span>
            <p>＃請搜尋並選擇您想要揪團的課程</p>
            <%= simple_form_for @group do |f| %>
              <%= react_component 'NewGroupBookSelect', value: @group.book_id %>
              <%= react_component 'NewGroupCourseSelect', value: @group.course_ucode %>
              <%= f.input :recipient_name %>
              <%= f.input :recipient_mobile %>
              <%= f.input :pickup_datetime %>
              <%= f.input :pickup_point %>
              <%= f.button :submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 2 // Creates a dropdown of 15 years to control year
  });
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
