<div class="container" style="padding-top: 30px;">
  <h1 style="background-color:rgb(51, 199, 171); color:#fff; padding:10px 20px; width:250px; margin: 20px auto; border-radius: 10px;"> 通知</h1>
  <p style="font-size: 24px;">確定要成為課程: <%= "#{@course.lecturer_name}" %> <%= "#{@course.name}" %>，購買課本 <%= "#{@book.name}" %> <%= "#{@book.isbn}" %> 的主揪嗎？</p>
  <p style="font-size: 24px;"> 35 元折扣金將於下次結帳時自動進行折抵。</p>
  <p style="font-size: 24px;">
    成為主揪的同時表示您了解並同意
    <%= link_to '主揪說明', flow_mainchew_path, target: '_blank' %>
  </p>
  <p style="font-size: 24px;"> Colorgy全體同仁感謝您！</p>


  <%= form_tag groups_path, method: :post %>
    <%= hidden_field_tag 'course', params[:course] %>
    <%= hidden_field_tag 'book', params[:book] %>
    <%= submit_tag '了解，確定',class:'btn', style:'background-color:rgb(51, 199, 171); color:#fff; margin-top: 20px;' %>
</div>
