<style type="text/css">
  .panel-body{
    padding: 0px !important;
  }
  .sticky-wrap{
    margin: 0 0 !important;
  }
  .select-box{
    margin: 0px;
    font-size: 5px;
  }

  .cs-skin-elastic .cs-options span{
    padding: 0.8em 1em 0.8em 1em;
  }
  section.col-md-9{
    padding-left: 20px !important;
    padding-top: 50px;
  }
  label{
    width: 100%;
  }
  tr{
    height: 80px;
  }
  input{
    font-size: 16px;
  }
</style>
<div class="wrapper" style="width:100%;">
      <div class="row">
        <section class="col-md-9">
          <div class="shopping-flow">
            <div class="col-md-4 gray-pointer">
              <h3>購物書包</h3>
            </div>
            <div class="col-md-4 green-pointer">
              <img src="/assets/gray-pointer.png">
              <h3>確認訂單</h3>
            </div>
            <div class="col-md-4 gray-pointer">
              <img src="/assets/green-pointer.png">
              <h3>完成訂購</h3>
            </div>

          </div>
          <div class="cart-table">
                      <table>
                    <thead>
                      <tr>
                        <th>書名</th>
                        <th>作者</th>
                        <th>版次</th>
                        <th>價格</th>
                        <th>數量</th>
                        <th>課程/教授</th>
                        <th>主揪</th>
                        <th>小計</th>

                      </tr>
                    </thead>
                    <tbody>
                      <% @orders.each do |order| %>
                        <tr>
                          <td><%= order.book_name %></td>
                          <td><%= order.book_author %></td>
                          <td>8/E</td>
                          <td><%= order.price %></td>
                          <td>2</td>
                          <td>
                            <%= order.course_name %>
                          </td>
                          <td>
                            <div class="headphoto">
                              <img src="/assets/headphoto.jpg">
                            </div>
                          </td>
                          <td>2598</td>

                        </tr>
                      <% end %>
                    </tbody>
                  </table>
            </div>
        </section>
        <section class="col-md-3 cart-right-section">

          <div class="checkout-form">
          <%= form_tag bills_path do %>
            <h3 class="total-title">總金額</h3>
            <h3 class="total-number"><%= @bill.amount %></h3>

            <h3 class="payment-title">付款方式</h3>
            <br>
            <h4 style="text-align: center;"><%= @bill.type %></h4>
            <br>
            <h3 class="payment-title">發票種類</h3>
            <br>
            <h4 style="text-align: center;">
              <% if @bill.invoice_type == "digital" %>
                電子發票
              <% elsif @bill.invoice_type == "paper" %>
                紙本發票
              <% else @bill.invoice_type == "love_code" %>
                愛心碼
              <% end %>
            </h4>
            <br>
            <%= hidden_field_tag 'bill[type]', @bill.type %>
            <%= hidden_field_tag 'bill[invoice_type]', @bill.invoice_type %>
            <%= hidden_field_tag 'bill[invoice_uni_num]', @bill.invoice_uni_num %>
            <%= hidden_field_tag 'bill[invoice_love_code]', @bill.invoice_love_code %>
            <%= hidden_field_tag 'bill[invoice_code]', @bill.invoice_code %>
            <%= hidden_field_tag 'confirmed', 'true' %>
            <%= submit_tag "都沒錯，繼續！", class:'checkout-buttom' %>
          <% end %>


          </div>


        </section>
    </div>
</div>
