<style type="text/css">
  .panel-body{
    padding: 0px !important;
  }
  .sticky-wrap{
    margin: 0 0 !important;
  }
  .select-box{
    margin: 0px;
    font-size: 5px;
  }
  .cs-skin-elastic .cs-options span{
    padding: 0.8em 1em 0.8em 1em;
  }
  label{
    width: 100%;
  }
  tr{
    height: 80px;
  }
  input{
    font-size: 16px;
  }
  .cart-section{
    width: 100% !important;
  }
</style>
<div class="wrapper" style="width:100%; margin-top:53px; overflow: auto;">
  <section class="cart-section">
    <div class="shopping-flow">
      <div class="col-md-4 gray-pointer">
        <h3>購物書包</h3>
      </div>
      <div class="col-md-4 gray-pointer">
        <%= image_tag 'gray-pointer.png' %>
        <h3>確認訂單</h3>
      </div>
      <div class="col-md-4 green-pointer">
        <%= image_tag 'gray-pointer.png' %>
        <h3>完成訂購</h3>
      </div>
    </div>
    <div class="container-fluid thankyoupage-head-container">
      <div style="background-color: rgb(221, 221, 221); padding:30px 0;">
        <div class="row thankyoupage-header">

          <div class="col-md-4" style="min-width:220px;">
            <div class="thankyoupage-icon">

            </div>
          </div>
          <div class="col-md-8">
            <div class="thankyoupage-title">
              <h3 style="font-size:16px;">親愛的 Colorgy User 您好，我們已經收到您的訂購資訊！本網頁只是確認本系統已經收到您的訂購訊息，並提供您再次進行核對之用，不代表交易已經完成。<br></h3>
            </div>
            <div class="thankyoupage-text">
              <blockquote style="border-left: 5px solid #36B8A0 !important;">
                <h3>繳費代碼：<%= @bill.payment_code %><br>繳費狀態：<%= t(@bill.state, scope: :bill_states) %></h3>
              </blockquote>
              <h3 style="font-size: 16px;">請於三日或團購期限之內繳費，付款操作請參考<a href="<%= paymethod_path %>">付款教學</a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="reciept-content">
          <div class="col-md-12">
            <h3>訂單明細</h3>
            <!--<a href="./order-tracking.html"><p>更多訂單...</p></a>-->
          </div>
          <div class="col-md-12">
            <div class="cart-table">
              <%= render "partials/order_list" %>
            </div>
          </div>
          <div class="col-md-12" style="padding-bottom: 50px;">
            <h3>付費方式</h3>
            <p><%= t(@bill.type, scope: :bill_types) %></p>
            <h3>發票種類</h3>
            <p><%= t(@bill.invoice_type, scope: :invoice_types) %></p>
          </div>
          <!--
          <div class="col-md-6">
            <div class="checkout-buttom thankyoupage-btn" style="background-color: #36B8A0 !important;">
              <a href="./index.html">
                <p style="background-color: #36B8A0 !important; color: #fff;">回Colorgy購書平台</p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkout-buttom thankyoupage-btn">
              <a href="./order-complete.html">
                <p style="color: #fff;">列印本頁</p>
              </a>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
  </section>
</div>
