<div class="container-fluid" style="margin:50px auto 100px auto;">
	<h2>常見問題</h2>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top:20px;">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	      <h4 class="panel-title">
	        <a>
	          1. 關於註冊與一般介面
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>只有大學生能註冊嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			是的！為了保護 Colorgy Books 使用者的服務權益、並過濾平台上的使用者來源，我們只開放給 "有大專院校信箱帳號" 的同學註冊。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我朋友也是學生，但是他的學校無法通過驗證？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			Colorgy Books 目前加入的大專院校共有 10 所（台灣科技大學、台灣大學、清華大學、師範大學、台北大學、淡江大學、長庚大學、元智大學、中原大學、大同大學、），目前我們只有開放以上學校的同學，進行註冊。如果你不是以上學校的學生、而想要使用 Colorgy Books 或平台的相關服務，歡迎聯繫我們（help@colorgy.io）=D
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>一定要用 Facebook 註冊 / 登入嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			如果你沒有 Facebook 帳號、或是你想用其他管道註冊 / 登入的話，也可以使用你的常用電子信箱進行註冊。只是每位使用者還是必須通過大專院校信箱認證，才能正式成為 Colorgy Books 的一份子喔！
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我可以看到其他人的個人頁面嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			目前我們沒有開放此功能。XD
	        		</p>
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	      <h4 class="panel-title">
	        <a class="collapsed">
	          2. 關於選購
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
			<div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我可以買自己沒有修課的書嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			可以！你的書本會被併至你選擇的課程群組中，可以去詢問該門課程的主揪、書籍的寄達時間，以免忘記拿書。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我可以去買別校的開課書籍嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			當然可以！你的書本會被併至你選擇的課程群組中，可以去詢問該門課程的主揪、書籍的寄達時間，以免忘記拿書。比較麻煩的是你的書會被送到其他學校去...
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>你們的價格會不會比較貴？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			Colorgy Books 的平台價格在跨校集單之下，會提供給大家 "單本即享大量團購價" 優惠。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>你們的書本資料是怎麼來的？我會不會買到錯的書？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			我們在開學前的寒暑假期間，已事先透過各校學生會、系學會等，向教授詢問下學期的用書清單，並且與書商確認之後，才會上架至 Colorgy Books 平台供同學選擇。如果教授在開學時臨時換書、或你發現教授用的書籍與 Colorgy Books 上面提供的不一致時，請務必聯繫我們（help@colorgy.io）。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>什麼是歐美版價格？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			在國際出版市場中，原文書分為兩種版本：本國版（只在國外出版商所在國家發售）與國際版（出口至其他國家發售，如台灣）。通常而言，國外的原文書出版商多在歐、美兩洲，故本國版價格又稱作歐美版價格。同學可以藉由比較歐美版與國際版價格，了結原文書在國外的價格差異。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我在送出訂單時不小心寫錯資料了，怎麼辦？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			速速聯繫我們（help@colorgy.io），我們會幫你處理。
	        		</p>
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree"  data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	      <h4 class="panel-title">
	        <a class="collapsed">
	          3. 關於主揪
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>主揪是什麼？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			主揪是每堂課課本的管理員，負責管理同學在其負責課堂的訂書狀態，以及書籍發放等任務。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>主揪需要做什麼事情？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			1. 確認班上同學的訂購狀態<br>
						2. 確認班上書籍的送達時間<br>
						3. 向訂購同學確認書籍狀態無誤後，發放書籍
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我們班沒有主揪誒，要怎麼辦？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			如果在團購期間結束後、還有班級沒有主揪的情形發生時，Colorgy Books 工作團隊會跟班上的同學進行協調，推舉出主揪。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>一個主揪不夠，可以選第二個嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			在系統設定上一個班級只會有一位主揪。如果有熱心的同學也想當主揪的話，當然可以透過其他方式協助主揪分擔任務，服務同學 =D
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我們系上就有總務 / 各班班代了，這樣誰要當主揪？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			各班班代可以在網站上買書時直接按下「成為主揪」，便可以透過 Colorgy Books 的班代介面，方便管理班上同學的訂書狀況。系上的統整總務也可以透過在各班尋找負責幫忙的同學、成為主揪，進行更加系統化的各班購書進度管理。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我可以叫主揪幫我訂書嗎？反正錢給他就好！</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			原則上一個人可以買的書籍不只限一本，當然也可以請主揪代買書籍。只是因為繳費代碼的三天期限、以及超商代收可能出現的付款上限問題，我們真心不建議同學這麼做。自己的課本自己買！
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我因為自己不小心按到、變成主揪了，可以換別人當嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			可以！請盡快聯繫我們（help@colorgy.io），說明原因跟附上另外一位可以當主揪的同學聯絡資料，我們會再跟你進行確認。
	        		</p>
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFour"  data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	      <h4 class="panel-title">
	        <a class="collapsed">
	          4. 關於訂單、結帳與付款
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      <div class="panel-body">
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>繳費代碼有期限嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			有效期限為期三天，請務必在繳費期限內前往便利商店付款喔 =D
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我的代碼放太久不能繳費了，要怎麼辦？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			我們可以協助處理，請聯繫我們（help@colorgy.io）說明你的狀況。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>有哪些地方可以繳費？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			全省各地便利商店：統一超商 ibon、全家 famiport 等皆可繳費。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我繳費完了，然後呢？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			在我們確認收到款項後，會寄信到你的註冊信箱中，同時訂單狀態中會顯示 "已付款"。等到書籍寄達學校後，主揪即會發書給訂購同學。
	        		</p>
	        	</div>
	        </div>

	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFive"  data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
	      <h4 class="panel-title">
	        <a class="collapsed">
	          5. 關於取貨
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
	      <div class="panel-body">
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我買的書會寄到哪裡？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			各班的訂購書籍會寄送到主揪指定的送貨地點，由主揪領取後再進行發放。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>書本到貨那天，主揪沒去拿怎麼辦？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			如果主揪當天沒有另派同學前往送貨地點領取，可以直接傳訊息至 FB 臉書粉絲專頁（https://www.facebook.com/pages/Colorgy/1529686803975150），我們會以最快時間幫你處理。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我們班沒有主揪，這樣誰要去拿 / 發書？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			全省各地便利商店：統一超商 ibon、全家 famiport 等皆可繳費。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我可以叫別人幫我拿書嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			可以！主揪發書確認的是購書紀錄，不用本人到場。
	        		</p>
	        	</div>
	        </div>

	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingSix"  data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
	      <h4 class="panel-title">
	        <a class="collapsed">
	          6. 關於退換貨
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
	      <div class="panel-body">
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我買錯書了，可以退換嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			如果是已經付款、並送到班級上的書，如非書本狀態異常原則上是無法退換的。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我的書有裝訂問題（缺印、倒裝、漏頁、裁切異常），可以退換嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			出現裝訂問題的書籍原則上都可以通知出版社進行換貨。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>網購不是有七天鑑賞期嗎，為什麼不能退換書？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			一般而言，主揪在書籍送達、發書給同學時，都會「向同學再次確認書籍情況無誤」，才會讓同學收下使用。除非在書籍有本身問題、或是老師臨時換課本導致整班買錯書籍時，我們才會受理退換貨。因為我們有請主揪再向大家確認商品狀態是否無誤，原則上就已經「不具有網路購物無法確認貨品狀態的風險」，故我們無法受理。
	        		</p>
	        	</div>
	        </div>
	        <div class="faqs-qa">
	        	<div class="faqs-question">
	        		<%= image_tag "close.png", class: "faqs" %>
	        		<h4>我可以叫別人幫我拿書嗎？</h4>
	        	</div>
	        	<div class="faqs-answer">
	        		<p>
	        			可以！主揪發書確認的是購書紀錄，不用本人到場。
	        		</p>
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
