<div class="container" style="margin-top:50px;">
	<div class="row">
		<h2>超商付款方式<br><br></h2>
		<div class="col-md-6">
			<a href="<%= paymethod_711_path %>">
				<div class="home-select-box">
					<h2>7-11 ibon</h2>
					<%= image_tag "711logo.png" %>
				</div>
			</a>
		</div>
		<div class="col-md-6">
			<a href="<%= paymethod_famiport_path %>">
				<div class="home-select-box">
					<h2>全家 famiport</h2>
					<%= image_tag "familogo.png" %>
				</div>
			</a>
		</div>
		<div class="col-md-6">
			<a href="<%= paymethod_life_path %>">
				<div class="home-select-box">
					<h2>萊爾富 Life-ET</h2>
					<%= image_tag "lifelogo.png" %>
				</div>
			</a>
		</div>
		<div class="col-md-6">
			<a href="<%= paymethod_ok_path %>">
				<div class="home-select-box">
					<h2>OK-MART OK-GO</h2>
					<%= image_tag "oklogo.png" %>
				</div>
			</a>
		</div>
	</div>
</div>
