<div class="container-fluid" style="margin-top:100px;">
	<div class="row step-menu-row" style="max-width:1200px; margin-left:auto; margin-right:auto">
		<div style="width:30%; float:left;">
			<a href="<%= flow_buy_path %>">
				<div class="step-menu">
					<%= image_tag "step-menu-gray-bag.png" %>
					<h4 class="step-menu-h4">購物流程</h4>
				</div>
			</a>
		</div>
		<div style="width:40%; float:left;">
			<div class="step-menu step-menu-active">
				<%= image_tag "step-menu-green-people.png" %>
				<h4 class="step-menu-h4 step-menu-h4-active">主揪說明</h4>
			</div>
		</div>
		<div style="width:30%; float:left;">
			<a href="<%= flow_deliver_path %>">
				<div class="step-menu">
					<%= image_tag "step-menu-gray-truck.png" %>
					<h4 class="step-menu-h4">配送方式</h4>
				</div>
			</a>
		</div>

	</div>
	<div class="shopping-flow" style="margin: 40px 0px 40px 0px;">
		<div class="white-pointer">
			<h4>1.什麼是主揪？</h4>
		</div>
		<div class="white-pointer">
			<h4>2.主揪有什麼好處？</h4>
		</div>
		<div class="white-pointer">
			<h4>3.如何成為主揪？</h4>
		</div>
		<div class="white-pointer">
			<h4>4.主揪的權利義務</h4>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" style="margin-top:50px;">
		<h3 class="step-title">1.什麼是主揪？</h3>
		<br><br><h4>「主揪」基本上就是揪團負責人，負責的工作內容為收書、發書為跟團的人服務，<br>
		成為主揪後可以在 Colorgy 的平台上管理跟團人以及指定收書日期及地點，<br>
		確認收到書後再將書籍轉交至購書人手上。</h4>
		<div>
			<div class="row" style="margin: 50px auto; max-width: 800px;">
				<div class="col-md-12">
					<%= image_tag "step-mainchew1.png" %>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="max-width: 600px; margin-left:auto; margin-right:auto; margin-top:50px;">

		<h3 class="step-title">2.主揪有什麼好處？</h3>
		<br><br><h4>願意當主揪的人，可以獲得35元的折扣還有 Colorgy Books 全體工作人員滿滿的感謝！ 謝謝您為台灣整體訂書環境的提升做出貢獻。</h4><br>
		<div class="col-md-12" style="padding: 40px 0 40px 0;">
			<%= image_tag "step-mainchew2.png" %>
		</div>
	</div>
	<div class="row" style="margin-top:50px;">
		<h3 class="step-title">3.如何成為主揪？</h3>
		<br><br><h4>當你發現你買的書籍的揪團班級並沒有主揪的話恭喜你還有機會!</h4>
		<div class="col-md-12">
			<br><br><h4>（1）可以直接在書籍頁下方直接點選「成為主揪」。</h4><br>
			<%= image_tag "step-mainchew3.png" %>
		</div>
		<div class="col-md-12">
			<br><br><h4>（2）或是在結帳的頁面選擇成為主揪。</h4><br>
			<%= image_tag "step-mainchew4.png" %>
			<br><br><h4>經過一些基本資料的填寫你就能夠成為該團的主揪囉！</h4><br>
		</div>


	</div>
	<div class="row" style="margin-top:50px;">
		<h3 class="step-title">4.主揪的權利義務</h3>
		<div class="col-md-12" style="padding-top: 50px; padding-bottom:50px;">
			<h4>將訂單送出後我們就已經收到訂購資訊，可以至訂單查詢檢閱詳細資料。</h4><br><br>
			<%= image_tag "step-search10.png" %>
		</div>

	</div>
</div>
