<style type="text/css">
  div.cs-skin-elastic{
    margin: 20px;
  }
  .col-green-block{
    padding: 10px !important;
  }
  @media screen and ( min-width: 1300px ){
    .col-md-3{ width: 20%; float: left;}
  }
  @media ( min-width: 1038px ) and ( max-width: 1300px ){
    .col-md-3{ width: 25%; float: left;}
  }
  @media ( max-width: 1038px ) and ( min-width: 768px ){
    .col-md-3{ width: 33.33333%; float: left;}
  }
  @media ( max-width: 768px ) and ( min-width: 527px ){
    .col-md-3{ width: 50%; float: left;}
  }

  .selection-section .select2-container {
    width: 100%;
    margin-top: 28px;
  }
  #my-slideshow{
    max-width: 100% !important;
  }
</style>


    <!---SlideShow首頁header大圖-->
    <section class="slideshow">
      <div id="my-slideshow">
        <ul class="bjqs">
          <li><%= image_tag 'slider-ntust.jpg' %></li>
          <li><%= image_tag 'slider-tunghua.jpg' %></li>
          <li><%= image_tag 'slider-ntu.jpg' %></li>
        </ul>
      </div>
    </section><!--首頁header大圖end-->
    <!--filter 篩選區塊-->
    <section class="selection-section">
      <div class="row" style="max-width:1000px; margin-right:auto; margin-left:auto;">
        <div class="col-md-4 home-dropdown">
        <%= select_tag "books-org-code-select", options_for_select(Organization.all_for_select, current_org_code) %>
        </div>
        <div class="col-md-4 home-dropdown">
          <%= select_tag "books-dep-code-select", options_for_select(Organization.find(current_org_code).departments_for_select('D').insert(0, ['所有開課系別', '']), @dep_code) %>
        </div>

        <div class="col-md-4" style="margin-right: -15px;">
            <div id="sb-search" class="sb-search sb-search-open">
              <form id="books-search">
                <input class="sb-search-input" placeholder="搜尋書名、課名、老師名..." type="text" value="<%= params[:q] %>" name="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search">
                <%= link_to image_tag("search.png", style: 'vertical-align: top;') %>
                </span>
              </form>
            </div>
        </div>
      </div>


    </section>
    <!--篩選filter區塊end-->

    <!--書的呈現區塊-->
    <section class="book-section" style="overflow: visible !important;">
      <div class="container-fluid home-book-container">

          <% if @books.present? %>
            <% @books.each do |book| %>
              <div class="col-md-3 home-book-box">
                <div class="product-box" >
                  <a href="<%= book_url(book) %>">
                  <div class="product-box-image">
                      <%= image_tag(book.image_url) %>
                  </div>
                  <div class="product-text-box">
                    <div class="product-title">
                      <div class="book-name">
                        <span><%= book.name %></span>
                      </div>
                      <div class="book-author">
                        <span>作者: <%= book.author %></span>
                      </div>
                      <div class="book-edition">
                        <% if book.edition %><span>版次: <%= book.edition %></span><% end %>
                      </div>
                    </div>
                    <div class="product-price">

                      <p><% if book.original_price %><del> 定價: <%= book.original_price %> </del><% end %></p>
                      <h4>團購價: <%= book.price %></h4>
                    </div>
                    <!--
                    <div class="add-to-cart">
                      <div class="row">
                          <div class="col-md-12">
                            <div class="select-box cart-select">
                              <select class="cs-select cs-skin-elastic">
                                <option value="" disabled selected>請選擇您的課程</option>
                                <option value="台科大">電子學-彭盛裕</option>
                                <option value="元智大學">電子學-蔡超人</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-12"><p style="color: #fff; margin-left: 20px; margin-top:5px; float: left;">數量 ： </p><input class="input-number" type="number" name="quantity" min="0" placeholder="1"></div>
                      </div>
                      <div class="add-to-cart-button">
                        <h5 class="modal-toggle-h5">加入書包</h5>
                      </div>
                    </div>
                    -->
                  </div>
                  </a>
                </div>
              </div>
            <% end %>
          <% else %>
          <p style="text-align: center;">您所選的條件範圍找不到書！請改用其他條件找看看 :)</p>
          <% end %>

        </div>

    </section>
<script type="text/javascript">
  $(window).on('load',function(){
    waterfall();
  })
  function waterfall(){
    var $boxs = $('div.home-book-box');
    var w=$boxs.eq(0).outerWidth();
    var cols= Math.floor($(window).width() / w );
    $('div.home-book-container').width(w*cols).css('margin','0 auto');
    var hArr=[];
    $boxs.each(function(index,value){
      var h=$boxs.eq(index).outerHeight();
      if (index < cols) {
        hArr[index] = h;
      }else{
        var minH = Math.min.apply(null,hArr);
        var minHIndex = $.inArray(minH,hArr);
        $(value).css({
          'position':'absolute',
          'top': minH + 'px',
          'left': minHIndex + 'px',

        })
        hArr[minHIndex] += $boxs.eq(index).outerHeight();
      }
    })
  }

</script>

<script>
  $('#books-org-code-select').select2()
  .on('change', function(e) {
    window.location.href = URI(window.location.href).removeSearch('dep').removeSearch('org').addSearch('org', e.val).toString();
  });

  $('#books-dep-code-select').select2()
  .on('change', function(e) {
    window.location.href = URI(window.location.href).removeSearch('dep').addSearch('dep', e.val).toString();
  });

  $('#books-search').submit(function() {
    window.location.href = URI(window.location.href).removeSearch('q').addSearch('q', $('#search').val()).toString();
    return false;
  });
  $(document).ready(function($) {
    $('#my-slideshow').bjqs({
      'height' : 500,
      'width' : 1280,
      'responsive' : true
    });
  });
</script>
