<style type="text/css">
      body{
        background-color: #DDD !important;
                padding-bottom: 0px !important;
      }
      input{
        font-size: 30px;
      }
</style>
<section class="book-page-wrapper">
  <div class="row">
    <div class="col-md-6 book-image-box">
      <%= image_tag @book.image_url %>
    </div>
    <div class="col-md-6">
      <div class="book-page-text">
          <h1 class="book-page-title"><%= @book.name %></h1>
          <h3 class="book-page-author">作者: <%= @book.author %></h3>
          <h3>ISBN: <%= @book.isbn %></h3>
          <% if @book.edition %><h3>版次: <%= @book.edition %></h3><% end %>
          <h3>團購價: <%= @book.price %></h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="select-box book-page-selector">
            <h3>所屬課程：<small>可以在搜尋框輸入課名、老師姓名，來查找全校的其他課程喔！</small></h3>
            <div class="course-select-dropdown">
              <input id="course-id">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!--<div class="col-md-3">

          <div class="book-page-quantity">
            <h3>數量：</h3><input class="input-number" type="number" name="quantity" placeholder="1">
          </div>

        </div>-->
        <div class="col-md-9">
          <button type="submit" id="add-to-cart" class="btn btn-default book-page-add-to-cart-button" style="margin: 50px 0 !important;">加入購物書包</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<section class="container-fluid book-page-group-section">
    <div class="row">
        <h1 class="book-page-group-h1">揪團班級</h1>
        <div class="col-md-4">
            <div class="col-white-block">
                <div class="book-page-group-headphoto">
                    <%= image_tag "headphoto.jpg" %>
                </div>

                <h3 class="book-page-group-title">劉政軒</h3>
                <p>課程名稱： 電子電路</p>
                <p>教授： 彭盛裕</p>
                <p>上課時間： M6 M7 M8</p>
                <div class="follower-photo-slider-box">
                  <div class="follower-photo-slider">
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="col-white-block">
                <div class="book-page-group-headphoto">
                    <%= image_tag "headphoto.jpg" %>
                </div>

                <h3 class="book-page-group-title">劉政軒</h3>
                <p>課程名稱： 電子電路</p>
                <p>教授： 彭盛裕</p>
                <p>上課時間： M6 M7 M8</p>
                <div class="follower-photo-slider-box">
                  <div class="follower-photo-slider">
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                    <%= image_tag "headphoto.jpg" %>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-white-block">
                <div class="book-page-group-headphoto">
                    <%= image_tag "headphoto.jpg" %>
                </div>
                <h3 class="book-page-group-title">劉政軒</h3>
                <p>課程名稱： 電子電路</p>
                <p>教授： 彭盛裕</p>
                <p>上課時間： M6 M7 M8</p>
                <div class="follower-photo-slider-box">
                  <div id="box1" class="follower-photo-slider">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                  </div>
                </di/assets
            </div>
        </div>
    </div>
</section>
-->
<script>
  $('#add-to-cart').click(function() {
    if ($('#course-id').val() == '') {
      alert("請先選擇跟團課程！");
      return;
    }
    $.ajax({
      url: '/cart_items.json',
      type: 'POST',
      dataType: 'json',
      data: {
        book_id: "<%= @book.id %>",
        course_id: $('#course-id').val()
      }
    }).done(function() {
      alert( "已加入購物書包！點選選單中的「購物車」即可進行結帳~" );
      location.reload();
    });
  });

  defaultCourses = [<% @book.courses.includes(:groups).current.where(organization_code: current_org_code).each do |course| %> <%= course.to_json(methods: [:group_leader_name, :group_book_id]).html_safe %>, <% end %>];
  bookId = <%= @book.id %>;

  $("#course-id").select2({
    allowClear: true,
    placeholder: "選擇跟團課程",
    containerCssClass: 'course-select',
    dropdownCssClass: 'course-select',
    ajax: {
      url: "/courses.json",
      dataType: 'json',
      quietMillis: 250,
      data: function (term, page) {
        return {
          q: term,
        };
      },
      results: function (data) {
        if (data.length == 0) {
          data = defaultCourses;
        }
        data.forEach(function (item) {
          if (item.group_leader_name && item.group_book_id == bookId) {
            item.text = item.lecturer_name + ' - ' + item.name + '（' + item.group_leader_name + '揪的團）';
          } else {
            item.text = item.lecturer_name + ' - ' + item.name;
          }
        });
        return { results: data };
      },
      cache: true
    }
  });
</script>
