<style type="text/css">
      body{
        background-color: #DDD !important;
                padding-bottom: 0px !important;
      }
      input{
        font-size: 30px;
      }
</style>
<section class="book-page-wrapper">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @book.image_url %>
    </div>
    <div class="col-md-6">
      <div class="book-page-text">
          <h1 class="book-page-title"><%= @book.name %></h1>
          <h3 class="book-page-author">作者 : <%= @book.author %></h3>
          <h3>ISBN : <%= @book.isbn %></h3>
          <h3>價格 : <%= @book.price %></h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="select-box book-page-selector">
            <h3>課程選擇 ：</h3>
            <div class="cs-select cs-skin-elastic" tabindex="0">
              <span class="cs-placeholder book-page-placeholder">請選擇您的課程</span>
              <div class="cs-options">
                <ul>
                  <% @book.courses.current.each do |course| %>
                    <li data-option="" data-value="台科大"><span><% @course.id %><% course.name %></span></li>
                  <% end %>
                </ul>
              </div>
              <select class="cs-select cs-skin-elastic">
                <option value="" disabled="" selected="">請選擇您的課程</option>
                <% @book.courses.current.each do |course| %>
                <option value="台科大"><% @course.id %><% course.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="book-page-quantity">
            <h3>數量：</h3><input class="input-number" type="number" name="quantity" placeholder="1">
          </div>
        </div>
        <div class="col-md-9">
          <input id="course-id">
          <button type="submit" id="add-to-cart" class="btn btn-default book-page-add-to-cart-button">加入購物車</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid book-page-group-section">
    <div class="row">
        <h1 class="book-page-group-h1">揪團班級</h1>
        <div class="col-md-4">
            <div class="col-white-block">
                <div class="book-page-group-headphoto">
                    <img src="/assets/headphoto.jpg">
                </div>

                <h3 class="book-page-group-title">劉政軒</h3>
                <p>課程名稱： 電子電路</p>
                <p>教授： 彭盛裕</p>
                <p>上課時間： M6 M7 M8</p>
                <div class="follower-photo-slider-box">
                  <div class="follower-photo-slider">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="col-white-block">
                <div class="book-page-group-headphoto">
                    <img src="/assets/headphoto.jpg">
                </div>

                <h3 class="book-page-group-title">劉政軒</h3>
                <p>課程名稱： 電子電路</p>
                <p>教授： 彭盛裕</p>
                <p>上課時間： M6 M7 M8</p>
                <div class="follower-photo-slider-box">
                  <div class="follower-photo-slider">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                    <img src="/assets/headphoto.jpg">
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-white-block">
                <div class="book-page-group-headphoto">
                    <img src="/assets/headphoto.jpg">
                </div>
                <h3 class="book-page-group-title">劉政軒</h3>
                <p>課程名稱： 電子電路</p>
                <p>教授： 彭盛裕</p>
                <p>上課時間： M6 M7 M8</p>
                <div class="follower-photo-slider-box">
                  <div id="box1" class="follower-photo-slider">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                    <img class="follower-photo-slider-img" src="/assets/headphoto.jpg">
                  </div>
                </di/assets
            </div>
        </div>
    </div>
</section>
<script>
  (function() {
    [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
      new SelectFx(el);
    } );
  })();
</script>
<script>
  $('#add-to-cart').click(function() {
      $.ajax({
        url: '/cart_items.json',
        type: 'POST',
        dataType: 'json',
        data: {
          book_id: "<%= @book.id %>",
          course_id: $('#course-id').val()
        }
      }).done(function() {
        alert( "success" );
      });
   });
</script>

