<style type="text/css">
  .panel-body{
    padding: 0px !important;
  }
  .sticky-wrap{
    margin: 0 0 !important;
  }
  .select-box{
    margin: 0px;
    font-size: 5px;
  }
  .cs-skin-elastic .cs-options span{
    padding: 0.8em 1em 0.8em 1em;
  }
  section.col-md-9{
    padding-left: 20px !important;
  }
  label{
    width: 100%;
  }
  tr{
    height: 80px;
  }
  input{
    font-size: 16px;
  }
  blockquote{
    border-color: rgb(54, 184, 160);
  }
</style>
<div class="wrapper" style="width:100%;">
      <div class="row">
        <% if !Settings.open_for_orders %>
          <p style="padding-top: 40px; text-align: center;">
            目前尚未開放訂購！
          </p>
        <% elsif current_user.cart_items.blank? %>
          <p style="padding-top: 40px; text-align: center; font-size: 20px;">
            購物書包還是空的噢！
          </p>
        <% else %>
        <section class="col-md-9" style="padding-top:40px;">
          <div class="shopping-flow">
            <div class="green-pointer">
              <h3>購物書包</h3>
            </div>
            <div class="gray-pointer">
              <%= image_tag "green-pointer.png" %>
              <h3>確認訂單</h3>
            </div>
            <div class="gray-pointer">
              <%= image_tag "gray-pointer.png" %>
              <h3>完成訂購</h3>
            </div>

          </div>
          <div class="cart-table">
            <% @new_group_datas.each do |key, data| %>
              <blockquote><%= "#{data[:course_name]} / #{data[:course_lecturer_name]}" %> 目前沒有主揪。要當主揪嗎？<a class="btn" style="color: rgb(255, 255, 255);background-color: rgb(224, 96, 56);margin: 0 15px;" href="<%= new_group_path(course: data[:course_id], book: data[:book_id]) %>" target="_blank">我要當主揪！</a><a class="btn" style="color: #fff;background-color: rgb(54, 184, 160);margin: 0 15px;" href="<%= flow_mainchew_path %>" target="_blank">什麼是主揪？</a></blockquote>
            <% end %>
            <table>
              <thead>
                <tr>
                  <th>書名</th>
                  <th>作者</th>
                  <th>版次</th>
                  <th>課程 / 教授</th>
                  <th>價格</th>
                  <th>數量</th>
                  <th>總價</th>
                  <th>取消</th>
                </tr>
              </thead>
              <tbody>
                <% if @cart_items %>
                  <% @cart_items.each do |item| %>
                    <tr>
                      <td><%= item.book_name %></td>
                      <td><%= item.book_author %></td>
                      <td><%= item.book_edition %></td>
                      <td>
                        <%= "#{item.course_name} / #{item.course_lecturer_name}" %>
                      </td>

                      <td><%= item.book_price %></td>
                      <td><%= item.quantity %></td>
                      <td><%= item.price %></td>
                      <td class="trashcan">
                        <%= link_to image_tag("trashcan.png"), cart_item_path(item), method: :delete %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

        </section>
        <section class="col-md-3 cart-right-section">
        <%= form_tag bills_path, id: 'checkout-form' do %>
          <h3 class="total-title">總金額</h3>
              <h3 class="total-number">NT$ <%= current_user.cart_total_price %></h3>
          <div class="checkout-form">
            <h3 class="payment-title">付款方式</h3>
            <% Bill.allowed_types.each do |type| %>
            <div class="payment-field">
              <label>
                <input type="radio" name="bill[type]" value="<%= type %>"><h4><%= t(type, scope: 'bill_type_descriptions') %></h4>
              </label>
            </div>
            <% end %>
            <div id="invoice-type-section">
            <h3 class="payment-title">發票種類</h3>
              <div class="payment-field">
                <label>
                  <input type="radio" name="reciept" value="digital" checked="checked"><h4>電子發票</h4>
                </label>
              </div>
              <div class="payment-field">
                <label>
                  <input type="radio" name="reciept" value="" id="invoice-co-option"><h4>共同性載具</h4>
                </label>
              </div>
              <div class="receipt-co-option">
                <div class="payment-field col-md-12">
                  <label>
                    <input class="co-option" type="radio" name="co" value="code">
                    <h4>手機條碼</h4>
                    <div class="receipt-text-input">
                      <input type="text" name="reciept-text" placeholder="請輸入手機條碼..">
                    </div>
                  </label>

                </div>
                <div class="payment-field col-md-12">
                  <label>
                    <input class="co-option" type="radio" name="co" value="cert"><h4>自然人憑證</h4>
                    <div class="receipt-text-input">
                      <input type="text" name="reciept-text" placeholder="請輸入自然人憑證..">
                    </div>
                  </label>
                </div>
              </div>

              <a class="reciept-more-toggle" style="float:right; cursor:pointer;">更多...</a>
              <div class="reciept-more">
                <div class="payment-field">
                  <label>
                    <input type="radio" name="reciept" value="統一編號"><h4>統一編號</h4>
                    <div class="receipt-text-input">
                      <input type="text" name="reciept-text" placeholder="請輸入統一編號..">
                    </div>
                  </label>
                </div>
                <div class="payment-field">
                  <label>
                    <input type="radio" name="reciept" value="愛心碼"><h4>愛心碼</h4>
                    <div class="receipt-text-input">
                      <input type="text" name="reciept-text" placeholder="請輸入愛心碼..">
                    </div>
                  </label>
                </div>
                <div class="payment-field">
                  <label>
                    <input type="radio" name="reciept" value="paper"><h4>紙本發票</h4>
                  </label>
                </div>
              </div>
              <%= hidden_field_tag 'bill[invoice_type]' %>
              </div>

              <%= submit_tag "Go 結帳！", class:'checkout-buttom' %>

          </div>

        <% end %>

        </section>

        <% end %>

        </div>
        </div>


<script type="text/javascript">
  $('#invoice-type-section input').on('change', function(e) {
    if ($(e.target).prop('checked')) {
      $('#bill_invoice_type').val(e.target.value);
    }
  });
  $('#invoice-type-section input').change();

  $('#checkout-form').on('submit', function(e) {
    if (!$("input[name='bill[type]']:checked").val()) {
      alert('請選擇付款方式！');
      return false;
    }
    //TODO: check invoice-type
  });
</script>
