<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Colorgy</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <style type="text/css">

      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }

      .navbar-brand > img {
        height: 100%;
      }

      .home-btn {
        background-color: #28A38C;
        color: #fff;
        border: 0px;
        transition: background-color 0.3s;
      }

      .home-btn:hover {
        background-color: #E77B2D;
        color: #fff;
      }

      .fb-login-btn {
        background-color: #3B579D;
        color: #ffffff;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        transition: transform 0.3s , border-radius 0.5s;
        font-size: 21px;
      }

      .fb-login-btn:hover {
        transform: scale(1.1);
        border-radius: 0px;
      }

      .fb-login-btn > a {
        color: #ffffff;
        font-size: 18px;
        left: calc( 50% - 90px );
        position: relative;
      }

      .flash-messages {
        position: absolute;
        width: 100%;
        padding-top: 24px;
      }

    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("header_logo.png") , '#', class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if !current_user.blank? %>
              <li>
                <%= link_to("我的帳號", "#{ENV['CORE_URL']}/my_account/emails") %>
              </li>
            <% end %>
            <li>
              <%= link_to("Colorgy Books", 'http://books.colorgy.io') %>
            </li>
          </ul>
          <% if current_user.blank? %>
            <div class="navbar-form navbar-right">
              <%= link_to "登入 / 註冊", user_omniauth_authorize_path(:colorgy), class: 'btn btn-success home-btn' %>
            </div>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Hello, <%= current_user.email %></a></li>
              <li>
                <%= link_to("Sign out", "#{ENV['CORE_URL']}/logout") %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="flash-messages">
      <div class="container">
        <% flash.each do |type, message| %>
          <div class="alert alert-dismissible <%= (type == :alert) ? 'alert-danger' : 'alert-info' %>" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>

    <div class="container">
      <footer>
        <p>&copy; Colorgy 2015</p>
      </footer>
    </div>
  </body>
</html>
