<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Colorgy</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <style type="text/css">
      body {
        padding-top: 50px;
      }

      .navbar-brand > img {
        height: 100%;
      }

      .home-btn {
        background-color: #28A38C;
        color: #fff;
        border: 0px;
        transition: background-color 0.3s;
      }

      .home-btn:hover {
        background-color: #E77B2D;
        color: #fff;
      }

      .fb-login-btn {
        background-color: #3B579D;
        color: #ffffff;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        transition: transform 0.3s , border-radius 0.5s;
        font-size: 21px;
      }

      .fb-login-btn:hover {
        transform: scale(1.1);
        border-radius: 0px;
      }

      .fb-login-btn > a {
        color: #ffffff;
        font-size: 18px;
        left: calc( 50% - 90px );
        position: relative;
      }

      .flash-messages {
        position: absolute;
        width: 100%;
        padding-top: 24px;
      }

      .select2-drop {
        z-index: 9999999;
      }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }

      .navbar-org-code-select {
        padding-right: 80px;
        padding-top: 8px;
      }
    </style>
  </head>

  <body>
    <div class="push-menu">
        <div class="push-menu-container">
          <h2  style="text-align:center; color:#fff;">Menu</h2>
          <ul class="push-menu-ul">
            <li><%= link_to("書庫瀏覽", books_path) %></li>
            <li><%= link_to("購物車", cart_items_path) %></li>
            <li><%= link_to("訂單查詢", bills_path) %></li>
            <li><%= link_to("我揪的團", groups_path) %></li>
            <li><%= link_to("使用流程", flow_path) %></li>
            <li><%= link_to("常見問題", faq_path) %></li>
            <li><a href="http://join.clg.io/">關於我們</a></li>
          </ul>
        </div>
    </div>
    <!--navigation bar-->
    <div class="navigation_bar fixed-nav">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" id="push-menu-trigger">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">
              <%= image_tag 'header_nav_logo.png', class: 'nav-logo' %>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
          <li>
            <%= link_to("書庫瀏覽", books_path) %>
          </li>
          <li>
            <%= link_to("購物車", cart_items_path) %>
          </li>
          <li>
            <%= link_to("訂單查詢", bills_path) %>
          </li>
          <li>
            <%= link_to("我揪的團", groups_path) %>
          </li>
          <li>
            <%= link_to("使用流程", flow_path) %>
          </li>
          <li>
            <%= link_to("常見問題", faq_path) %>
          </li>
          <li><a href="http://join.clg.io/">關於我們</a></li>
        </ul>
      <% if !current_user.blank? %>
            <!-- 桌機版nav bar購物車開始 -->
            <div class="checkout desktop-checkout">
              <div class="checkout__button__number">
                  <%= current_user.cart_items.count %>
              </div>
              <a class="checkout__button" href="#"><!-- Fallback location -->
                <span class="checkout__text">

                </span>

              </a>
                <div class="checkout__order">
                  <div class="checkout__order-inner">
                  <% if current_user.cart_items.present? %>
                    <table class="checkout__summary">
                      <thead>
                            <tr>
                              <th>書本項目</th>
                              <th>金額</th>
                              <th>課程</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                              <th colspan="2" class="checkout-total-th">總額 <span class="checkout__total"><%= current_user.cart_total_price %> NT</span></th>
                            </tr>
                        </tfoot>
                        <tbody>
                          <% current_user.cart_items.each do |item| %>
                            <tr>
                              <td><%= item.book_name %><span><%= item.book_author %></span></td>
                              <td><%= item.book_price %> NT</td>
                              <td><%= item.course_name %></td>
                              <td class="stickycart-delete">
                                <%=link_to image_tag("stickycart-delete.png"), cart_item_path(item), method: :delete%>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>

                    </table><!-- /checkout__summary -->
                    <%=link_to '我要結帳' ,cart_items_path, class:'checkout__option cart-checkout-button' %>
                    <% else %>
                      <p class="cart-blank-text">您的購物書包目前是空的</p>
                      <div style="text-align:center; width:100%;">
                        <%= image_tag 'bookbag-white.png', style: 'width:150px; margin:50px;' %>
                      </div>
                    <% end %>
                    <button class="checkout__close checkout__cancel close-button"><i class="icon fa fa-fw fa-close"></i></button>
                  </div><!-- /checkout__order-inner -->
                </div><!-- /checkout__order -->

            </div><!-- /checkout -->
            <!-- 桌機版nav bar購物車結束 -->
            <% end %>

            <ul class="nav navbar-nav navbar-right">
              <% if current_user.blank? %>
                  <li>
                    <%= link_to "登入 / 註冊", user_omniauth_authorize_path(:colorgy), class: 'btn' %>
                  </li>
              <% else %>
                  <div class="profile">
                    <div class="headphoto">
                      <%= image_tag current_user.avatar_url %>
                    </div>
                    <p><%= current_user.name %></p>
                    <div class="profile-field">
                        <ul class="profile-field-ul">
                            <li>
                                <%= link_to("登出", "#{ENV['CORE_URL']}/logout") %>
                            </li>
                        </ul>
                    </div>
                  </div><!-- /.profile -->
              <% end %>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-org-code-select">
              <li>
              <%= select_tag "org-code-select", options_for_select(Organization.all_for_select, current_org_code) %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="flash-messages">
          <div class="container">
            <% flash.each do |type, message| %>
              <div class="alert alert-dismissible <%= (type == :alert) ? 'alert-danger' : 'alert-info' %>" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= message %>
              </div>
            <% end %>
          </div>
    </div>

    <div class="checkout mobile-checkout"><!-- 手機版nav bar 購物車 -->
          <% if !current_user.blank? %>
          <% if current_user.cart_items.present? %>
            <div class="checkout__button__number">
                <%= current_user.cart_items.count %>
            </div>
          <% end %>
          <a class="checkout__button" href="#"><!-- Fallback location -->
            <span class="checkout__text"></span>
          </a>
            <div class="checkout__order">
              <div class="checkout__order-inner">
              <% if current_user.cart_items.present? %>
                <table class="checkout__summary">
                    <thead>
                        <tr>
                          <th>書本項目</th>
                          <th>金額</th>
                          <th>課程</th>
                          <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th colspan="2" class="checkout-total-th">總額 <span class="checkout__total"><%= current_user.cart_total_price %> NT</span></th>
                        </tr>
                    </tfoot>
                    <tbody>
                      <% current_user.cart_items.each do |item| %>
                        <tr>
                          <td><%= item.book_name %><span><%= item.book_author %></span></td>
                          <td><%= item.book_price %> NT</td>
                          <td><%= item.course_name %></td>
                          <td class="stickycart-delete">
                            <%=link_to image_tag("stickycart-delete.png"), cart_item_path(item), method: :delete%>
                          </td>
                        </tr>
                      <% end %>
                  </tbody>
                </table><!-- /checkout__summary -->
                <%=link_to '我要結帳' ,cart_items_path, class:'checkout__option cart-checkout-button' %>
                <% else %>
                <p class="cart-blank-text">您的購物書包目前是空的</p>
                <div style="text-align:center; width:100%;">
                  <%= image_tag 'bookbag-white.png', style: 'width:150px; margin:50px;' %>
                </div>
                <% end %>
                <button class="checkout__close checkout__cancel close-button"><i class="icon fa fa-fw fa-close"></i></button>
              </div><!-- /checkout__order-inner -->
            </div><!-- /checkout__order -->
          <% end %>
    </div><!-- /checkout -->
    <!-- 手機版nav bar 購物車結束 -->


    <%= yield %>

    <div class="container-fluid footer-container">
      <footer>
        <p><a id="uservoice-footer-contact-trigger" href="#">有問題嗎？聯繫我們！</a> &copy; Colorgy 2015</p>
      </footer>
    </div>

    <%= render "partials/uservoice" %>
    <%= javascript_tag do %>
      UserVoice.push(['addTrigger', '#uservoice-footer-contact-trigger', { mode: 'contact' }]);
    <% end %>
    <%= javascript_include_tag "colorgy_front.js" %>
    <%= javascript_include_tag "classie.js" %>
    <%= javascript_include_tag "selectFx.js" %>
    <script>
      (function() {
        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
          new SelectFx(el);
        } );
      })();
    </script>
    <script>
        (function() {
          [].slice.call( document.querySelectorAll( '.checkout' ) ).forEach( function( el ) {
            var openCtrl = el.querySelector( '.checkout__button' ),
              closeCtrls = el.querySelectorAll( '.checkout__cancel' );

            openCtrl.addEventListener( 'click', function(ev) {
              ev.preventDefault();
              classie.add( el, 'checkout--active' );
            } );

            [].slice.call( closeCtrls ).forEach( function( ctrl ) {
              ctrl.addEventListener( 'click', function() {
                classie.remove( el, 'checkout--active' );
              } );
            } );
          } );

          $('#org-code-select').select2()
          .on('change', function(e) {
            console.log(e);
            window.location.href = URI(window.location.href).removeSearch('dep').removeSearch('org').addSearch('org', e.val).toString();
          });
        })();
    </script>
    <%= javascript_include_tag "velocity_min.js" %>
    <%= javascript_include_tag "main.js" %>
    <%= javascript_include_tag "jquery_textfill_min.js" %>
    <%= javascript_include_tag "bjqs.js" %>
    <script type="text/javascript">
      $(document).ready(function() {
          $('.book-name ').textfill({ maxFontPixels: 15 });
          $('.book-name ').textfill({ minFontPixels: 15 });
          $('.book-author').textfill({ maxFontPixels: 13 })
      });
    </script>
  </body>
</html>
