<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>Colorgy Books</title>

    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'inbox', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta property="og:image" content="https://<%= request.host + image_path('slides/ad2.jpg') %>"/>
    <meta property="og:url" content="<%= "https://#{request.host}#{request.fullpath}" %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="「先別管悠遊卡了，你買課本了嗎！」 - Colorgy Books" />
    <meta property="og:description" content="便利的購物流程、便利的付款手續，便利的拿書方式，便利的購書體驗。我們做到的，不只便利，而且便宜，而且便宜。快來 Colorgy Books 找課本，優惠好康等你挖！滿額免運還可以直接送到宿舍或家中，Colorgy Books 體恤同學提供各種購書金，只要完成小任務即可獲取！減輕買書的負擔！" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <div class="black-mask"></div>
    <%= render "partials/navbar" %>
    <%= render "common/flash_messages" %>
    <%= render 'common/fb_js_sdk' %>
    <div id="wrapper" class="wrapper">
      <%= yield %>
    </div>
    <%= render "partials/footer" %>
  </body>
</html>
