<!DOCTYPE html>
<html>
<head>
  <title>Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="user-actions">
  <% if current_user.blank? %>
    <%= link_to "Sign in with Colorgy", user_omniauth_authorize_path(:colorgy) %>
  <% else %>
    Hello, <%= current_user.email %>
    <%= link_to("Log Out", destroy_user_session_path, method: :delete) %>
  <% end %>
</p>
<% flash.each do |type, message| %>
  <p class="<%= type %>"><%= message %></p>
<% end %>

<%= yield %>

</body>
</html>
