<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>Colorgy Books</title>

    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'inbox', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta property="og:image" content="https://<%= request.host + image_path('slides/ad2.jpg') %>"/>
    <meta property="og:url" content="<%= "https://#{request.host}#{request.fullpath}" %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="「方便的個人包裹！優惠的購物金！絕佳的買書體驗」 - Colorgy Books" />
    <meta property="og:description" content="便利的購物流程、便利的付款手續，便利的拿書方式，便利的購書體驗。我們做到的，不只便利，而且便宜。快來 Colorgy Books 找課本，優惠好康等你挖！滿額免運還可以直接送到宿舍或家中，Colorgy Books 體恤同學提供各種購書金，只要完成小任務即可獲取！減輕買書的負擔！" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '752440461479659',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/zh_TW/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="black-mask"></div>
    <%= render "partials/navbar" %>
    <%= render "common/flash_messages" %>
    <%= render 'common/fb_js_sdk' %>
    <div id="wrapper" class="wrapper">
      <%= yield %>
    </div>
    <div class="colorgy-preloader" id="colorgy-preloader">
      <div class="colorgy-preloader-icon" style="text-align: center;">
        <div class="infinite-rotating">
          <%= image_tag 'colorgy-icon.png' %>
        </div>
        <p class="colorgy-preloader-text" style="color: #fff;">系統處理中</p>
      </div>
    </div>
    <div class="fixed-help-btn">
      <a href="https://www.facebook.com/pages/Colorgy/1529686803975150" class="tooltipped" data-mode="1" target="_blank" data-position="top" data-delay="0" data-tooltip="問題回報區，有什麼問題都可以私訊粉專回報給 Colorgy">
        <i class="material-icons">help_outline</i>
      </a>
    </div>
    <div class="fixed-label hide">
      <span>開學期間，我們可能需要上課，電話不一定有人接，請洽粉專。</span>
    </div>
    <%= render "partials/footer" %>
    <script type="text/javascript">
      function init_share_table() {
        _origin = "https://books.colorgy.io";

        FB.ui(
          {
            method: 'share',
            href: _origin,
          },
          // callback
          function(response) {
            if (response && !response.error_code) {
              <% if !current_user.blank? %>
                <% if current_user.share_colorgy_books_credits %>
                  flash.success('謝謝你的再次分享');
                <% else %>
                  $.post('/credits/colorgy_books_share', function(response) {
                    console.log(response);
                    flash.success('成功獲得 Colorgy Books 提供之 50 元購書金！');
                  });
                <% end %>
              <% else %>
                flash.success('謝謝你的分享');
              <% end %>
            } else {
              flash.error('分享失敗！請再試一次');
            }
          }
        );
      }
    </script>
    <%= render 'partials/google_analytics' %>
  </body>
</html>
