<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.png' %>

    <title>Colorgy</title>

    <%= stylesheet_link_tag 'front/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'front/application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="black-mask"></div>
    <div class="navbar-fixed">
        <nav>
            <div class="top">
                <div class="top-bar">
                    <% if current_user %>
                    <ul>
                        <li>
                          <a href="#" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="你是已經開團的主揪或是班代嗎？這裏可以幫助你管理所有已跟團的同學的購書情況及聯絡方式！">
                            <i class="mdi-social-mood list-icon"></i>
                            主揪介面
                          </a>
                        </li>
                        <li>
                          <a href="#" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="這裏可以協助我們核對課程與正確的書籍">
                            <i class="mdi-file-file-upload list-icon"></i>
                            我要上書！
                          </a>
                        </li>
                        <li>
                          <a href="/ColorgyV2-frontend/QA.html">
                            <i class="mdi-action-info-outline list-icon"></i>
                            常見問題
                          </a>
                        </li>
                        <li>
                          <a href="/ColorgyV2-frontend/orders.html">
                            <i class="mdi-action-receipt list-icon"></i>
                            訂單查詢
                          </a>
                        </li>
                        <li>
                          <a href="/ColorgyV2-frontend/cart.html">
                            <i class="mdi-action-shopping-cart list-icon"></i>
                            前往結帳 (<span id="cart-item-counts">0</span>)
                          </a>
                        </li>
                        <li><a href="">Hi, <%= current_user.name %> :D</a></li>
                        <li><%= link_to '登出', sign_out_url %></li>
                    </ul>
                    <% else %>
                    <ul>
                        <li><%= link_to '登入', user_omniauth_authorize_path(:colorgy) %></li>
                    </ul>
                    <% end %>
                </div>
            </div>
            <div class="nav-wrapper">
              <a href="/ColorgyV2-frontend" class="brand-logo"><%= image_tag('front/colorgy-logo.png') %></a>
              <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              <% if current_user %>
              <ul class="right hide-on-med-and-down main-nav">
                <li class="group-up">
                  <a href="/ColorgyV2-frontend/groupon.html" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="主揪或是班代可以在這邊選擇課程&書籍開團讓同學們跟團喲！">
                    <i class="mdi-content-send list-icon"></i>
                    開始揪團
                  </a>
                </li>
                <li>
                  <a href="/ColorgyV2-frontend" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="書籍總覽！可以利用課程、老師、isbn等關鍵字搜尋書籍！">
                    <i class="mdi-av-my-library-books list-icon"></i>
                    書庫瀏覽
                  </a>
                </li>
                <li>
                  <a href="/ColorgyV2-frontend/follow-group.html" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="所有團購總覽！同學們可以從這邊找到已開的團！">
                    <i class="mdi-social-group-add list-icon"></i>
                    即時跟團 (<span id="group-counter">0</span>)
                  </a>
                </li>
                <li>
                  <a href="mobile.html" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="針對您的系別推薦可能會用的到的書！">
                    <i class="mdi-action-book list-icon"></i>
                    建議書單
                  </a>
                </li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="/ColorgyV2-frontend/groupon.html">開始揪團</a></li>
                <li><a href="<%= books_path %>">書庫瀏覽</a></li>
                <li><a href="/ColorgyV2-frontend/follow-group.html">即時跟團 (0)</a></li>
                <li><a href="mobile.html">建議書單</a></li>
              </ul>
              <% end %>
              <div class="clear" style="clear:both;"></div>
            </div>
        </nav>
    </div>
    <script>
      $(".button-collapse").sideNav();
    </script>

    <div class="wrapper">
      <%= yield %>
    </div>
    <%= javascript_include_tag "front/main" %>
  </body>
</html>
